*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    font-family: sans-serif;
    background-color: blue;
}
li a{
    display: inline-block;
    color: white;
    justify-content: space-between;
    align-items: center;
}